path_root: "/"
path_root_host: "/home/shard"

dns:
  zone: freeshard.cloud
  prefix length: 6

services:
  backup:
    directories:
      - core
      - user_data
    timing:
      base_schedule: '0 3 * * *'
      max_random_delay: 3600
    included_globs: # todo: remove this
      - core/**/*
      - user_data/**/*

traefik:
  acme_email: contact@freeshard.net

apps:
  app_store:
    base_url: "https://storageaccountportab0da.blob.core.windows.net"
    container_name: "app-store"
  registries:
    - uri: portalapps.azurecr.io
      username: 0e4000f7-41b1-45d6-9f2f-7e4a952a19b0
      password: bk11Ws.8OGakl-~t.7bKh5l9EYXTbHw.0T  # todo: allow anonymous pull
  lifecycle:
    refresh_interval: 10
  initial_apps:
    - filebrowser
    - immich
    - paperless-ngx
  last_access:
    max_update_frequency: 60
  usage_reporting:
    tracking_schedule: '0 2 * * *'
    reporting_schedule: '0 3 1 * *'
  pruning:
    schedule: '0 4 * * *'
    max_age: 24
    enabled: false

telemetry:
  enabled: false
  send_interval_seconds: 300

management:
  api_url: https://ptlfunctionapp.azurewebsites.net/api/management

portal_controller:
  base_url: https://portal-aca.purplemoss-96f7db40.westeurope.azurecontainerapps.io

freeshard_controller:
  base_url: https://controller.freeshard.net

log:
  levels:
    gunicorn: warning
