networks:
  portal:
    name: portal

volumes:
  postgres_data:

services:

  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_DB=shard_core
      - POSTGRES_USER=shard_core
      - POSTGRES_PASSWORD=shard_core
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - portal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U shard_core"]
      interval: 5s
      timeout: 5s
      retries: 5

  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "8883:8883"
    environment:
      - XDG_CONFIG_HOME=/core
      #- AZURE_CLIENT_ID=todo
      #- AZURE_CLIENT_SECRET=todo
      #- AZURE_SUBSCRIPTION_ID=todo
      #- AZURE_TENANT_ID=todo
      #- AZURE_RESOURCE_GROUP=todo
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${FREESHARD_DIR:?}/core:/core
    networks:
      - portal
    depends_on:
      shard_core:
        condition: service_healthy

  shard_core:
    image: ghcr.io/freeshardbase/freeshard:0.36.0
    container_name: shard_core
    restart: always
    volumes:
      - ${FREESHARD_DIR:?}/core:/core
      - ${FREESHARD_DIR:?}/user_data:/user_data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - portal
    environment:
      - FREESHARD_DNS_ZONE=${DNS_ZONE:?}
      - FREESHARD_TRAEFIK_ACME_EMAIL=user@example.com
      - FREESHARD_TRAEFIK_DISABLE_SSL=${DISABLE_SSL}
      - FREESHARD_PATH_ROOT_HOST=${FREESHARD_DIR:?}
    depends_on:
      postgres:
        condition: service_healthy

  web-terminal:
    image: ghcr.io/freeshardbase/web-terminal:0.37.4
    container_name: web-terminal
    restart: always
    networks:
      - portal
