version: '3.5'

networks:
    shard:
        external: true

services:
    always_on:
        restart: always
        image: nginx:alpine
        container_name: always_on
        ports:
        - 80:80
        networks:
        - portal
