networks:
    portal:
        external: true

services:
    filebrowser:
        restart: always
        image: portalapps.azurecr.io/ptl-apps/filebrowser:master
        container_name: filebrowser
        ports:
        - 80:80
        volumes:
        - "{{ fs.app_data }}:/data"
        - "{{ fs.shared }}:/data/shared"
        networks:
        - portal
